<div id = "info_bar" class = "info_bar">
	<span class='close' {{action "closeInfo"}}>x</span>
	<div>name - 
		{{name}}
	</div>
	<div>description - 
		{{desc}}
	</div>
	
	<div>phone - 
		{{phone}}
	</div>
	{{#if date}}
		<div> Type - one day journey - {{date}}</div>
	{{else}}
		<div> Type - regular </div>
	{{/if}}
</div>